<!DOCTYPE html>
<html>
  <head>
    <title>Restaurantapp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <%= link_to "Home", page_home_path =%>
  <%= link_to "About Us", page_about_path =%>
  <%= link_to "Features", page_feature_path =%>
  <%= link_to "FAQs", page_faq_path =%>
  <%= link_to "Contact Us", page_contact_path =%>
  <%= link_to "Order", page_order_path =%>
  <%= link_to "Login", dailycashes_path =%>
    <%= yield %>
  </body>
</html>
